* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 85%;
    max-width: 1200px;
    margin: 12px auto;
    padding: 48px 24px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow:  23px 23px 46px #d4d4d4,
                -23px -23px 46px #ffffff;
}

button:hover{
    cursor: pointer;
}

.hero {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 400px;
}
.hero .hero-image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: contain;
}
.hero .info {
    align-self: center;
}
.hero .info h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bolder;
    color: #333;
}
.hero .info p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}
.hero .info button {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: #fb8c00;
    font-weight: bolder;
    color: #fff;
}
.hero .info button:hover {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: #ffa231;
    font-weight: bolder;
    color: #fff;
}


.dishes{
    margin-top: 132px;
}
.dishes h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.dishes--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 20%));
    grid-auto-rows: 1fr;
    gap: 24px;
    justify-content: center;
    margin: 48px auto 0;
    height: fit-content;
}
.dishes--grid img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.dishes--grid .dishes--item__big {
    grid-area: 1 / 1 / 3 / 3;
}


.plates{
    margin-top: 132px;
}
.plates h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.plates--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 24px;
    justify-content: center;
    margin: 48px auto 0;
    height: fit-content;
}
.plates--grid img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: minmax(250px, 500px);
        justify-content: center;
    }
    .hero-image {
        display: none;
    }

    .dishes--grid {
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }
    
    .plates--grid {
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }
}